# Firebase Configuration
REACT_APP_FIREBASE_API_KEY=AIzaSyBl5cdGzFmb4xxz-3inNjUbRI9AKhsw7SE
REACT_APP_FIREBASE_AUTH_DOMAIN=choice-4496c.firebaseapp.com
REACT_APP_FIREBASE_DATABASE_URL=https://choice-4496c-default-rtdb.firebaseio.com
REACT_APP_FIREBASE_PROJECT_ID=choice-4496c
REACT_APP_FIREBASE_STORAGE_BUCKET=choice-4496c.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=997107815311
REACT_APP_FIREBASE_APP_ID=1:997107815311:web:056bade42556f933faf1fa
REACT_APP_FIREBASE_MEASUREMENT_ID=G-FFDDRVPJRZ
REACT_APP_FIREBASE_VAPID_KEY=BLwiJ4v1I6ICbjuVg1y03ASqrrKD8SEy8jS2KgbvzgY4GX6UwLZknHaNz50507OKQsKFJMwh_7nXwUACTmW5lig

# Cloudinary Configuration (for media upload)
REACT_APP_CLOUDINARY_CLOUD_NAME=dmfoxrq1v
REACT_APP_CLOUDINARY_UPLOAD_PRESET=choice_app_preset

# ZegoCloud Configuration (for audio/video calls)
REACT_APP_ZEGO_APP_ID=903806736
REACT_APP_ZEGO_SERVER_SECRET=fc435d143bdc4b960915f221edd52a12
